logs
*.log

pids
*.pid
*.seed

node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
rossmann-cache-cleaner-client/node_modules
rossmann-cache-cleaner-client/npm-debug.log
rossmann-cache-cleaner-client/.vscode
